@tailwind base;
@tailwind components;
@tailwind utilities;

.p-paginator-bottom {
  display: flex;
  justify-content: end !important;
}

.p-datatable-table {
  th {
    background-color: #353c59 ;
    color: white;
  }
  tr:nth-child(odd) {
    background-color: #f8f8fb;
  }
  tr:nth-child(even) {
    background-color: #f0f1f5;
  }
}
